section{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

div.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 2px;
}

.container form .userDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .userDetails .inputBox{
    margin: 20px 0 15px 0;
    width: calc(100% / 2 - 20px);
}

.userDetails .inputBox .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.userDetails .inputBox input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 15px;
    font-size: 16px;
}

.userDetails .inputBox input:focus,
.userDetails .inputBox input:valid{
    border-color: aqua;
    transition: all 0.3s ease;
}

form .submit{
    height: 45px;
    margin: 45px 0;
}

form .submit input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    letter-spacing: 1px;
    font-size: 18px;
}

@media (max-width: 850px) {
    div.container{
        max-width: 100%;
        padding: 10px 30px;
    }
    form .userDetails .inputBox{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .userDetails{
        max-height: 200px;
        overflow-y: scroll;
    }
    
}